<!DOCTYPE html>
<html lang="de" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<body>

<div layout:fragment="content">
    <h1>Benutzerdaten</h1>
    <ul>
        <li><p th:text="'id: ' + ${user.id}"></p></li>
        <li><p th:text="'Name: ' + ${user.name}"></p></li>
        <li><p th:text="'Vorname: ' + ${user.vorname}"></p></li>
        <li><p th:text="'email: ' + ${user.username}"></p></li>
        <li><p th:text="'rollen: ' + ${user.rollen}"></p></li>
    </ul>
</div>

</body>
</html>