<!DOCTYPE html>
<html lang="de" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<body>

<div layout:fragment="content">
    <div>
        <h1>Registrieren</h1>
        <form action="#" th:action="@{/mitglieder/registrieren}" method="post" th:object="${mitglied}">
            <label>Vorname</label>
            <input type="text" th:field="*{vorname}"/><br/>

            <label>Nachname</label>
            <input type="text" th:field="*{name}"/><br/>

            <label>E-Mail</label>
            <input type="text" th:field="*{email}"/><br/>

            <br/>
            <button type="submit">Absenden</button>
        </form>
    </div>
</div>


</body>
</html>