<!DOCTYPE html>
<html lang="de" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<body>

<div layout:fragment="content">
    <div>
        <h1>Registrieren</h1>
        <form action="#" th:action="@{/mitglieder/registrieren/setpassword}" method="post">
            <input type="hidden" th:value="${token}" name="token">

            <label>Passwort</label>
            <input type="password" id="password1" name="password1"/><br/>

            <label>Passwort wiederholen</label>
            <input type="password" id="password2" name="password2"/><br/>

            <br/>
            <button type="submit">Absenden</button>
        </form>
    </div>
</div>


</body>
</html>