<!DOCTYPE html>
<html lang="de" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>

<div layout:fragment="content">
    <h1>Termine</h1>
    <table>
        <tr>
            <th>Datum</th>
            <th>Titel</th>
            <th>Beschreibung</th>
            <th>Organisator</th>
            <th>Aktionen</th>
        </tr>
        <tr th:each="termin,iterStat : ${termine}" th:class="${iterStat.odd}? 'odd'">
            <td th:text="${termin.titel}">Titel</td>
            <td th:text="${termin.beschreibung}">Beschreibung</td>
            <td th:text="${termin.datum}">Datum</td>
            <td th:text="${termin.organisator != null ? termin.organisator.vorname + ' ' + termin.organisator.name : '-'}">Datum</td>
            <td th:if="${termin.mitgliedAngemeldet == true}"><a th:href="@{'/termine/anmelden/' + ${termin.id}}">Abmelden</td>
            <td th:if="${termin.mitgliedAngemeldet == false}"><a th:href="@{'/termine/abmelden/' + ${termin.id}}">Anmelden</td>
        </tr>
    </table>
</div>

</body>
</html>