<!DOCTYPE html>
<html lang="de" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>

<div layout:fragment="content">
    <h1 th:text="${'Termin: ' + termin.titel}">Termin: </h1>
    <h3>Datum</h3>
        <span th:text=="${termin.datum}"></span>
    <h3>Beschreibung:</h3>
        <span th:text="${termin.beschreibung}"></span>
    <h3>Anmeldungen:</h3>

            <span th:text="${termin.teilnehmerNamen}"></span>

    <h3>Aktionen</h3>
    <span th:if="${termin.mitgliedAngemeldet == true}"> <a th:href="@{'/termine/termin/' + ${termin.id} + '/abmelden'}">Abmelden</a></span>
    <span th:if="${termin.mitgliedAngemeldet == false}"><a th:href="@{'/termine/termin/' + ${termin.id} + '/anmelden'}">Anmelden</a></span>

        <span th:if="${termin.mitgliedAngemeldet == true}"><a th:href="@{'/arbeitsstunden/bearbeiten/' + ${termin.id}}">Arbeitsstunden eintragen </a></span>
    <hr>
    <div>
        <a th:href="@{/termine/}">zurück </a>
    </div>
</div>

</body>
</html>