<!DOCTYPE html>
<html lang="de" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<body>

<div layout:fragment="content">
    <div>
        <h1>Termin bearbeiten</h1>
        <form action="#" th:action="@{/termine/termin}" method="post" th:object="${termin}">
            <label>Titel</label>
            <input type="text" th:field="*{titel}"/><br/>

            <label>Beschreibung:</label>
            <input type="text" th:field="*{beschreibung}"/><br/>

            <label>Von:</label>
            <input type="datetime-local" th:field="*{datumVon}"/><br/>

            <label>Bis:</label>
            <input type="datetime-local" th:field="*{datumBis}"/><br/>

            <label>arbeitseinsatz:</label>
            <input type="checkbox" th:field="*{arbeitseinsatz}" value="dieser Termin ist ein Arbeitseinsatz"/>dieser
            Termin ist ein Arbeitseinsatz

            <br/>
            <button type="submit">Speichern</button>
        </form>
    </div>
</div>


</body>
</html>